
        .fakeimg {
          height: 400px;
          background: rgb(14, 104, 84);
        }
        body, footer{background-color: #7C8286;}
        li{
         color: #EDEEEF; 
        }
        h2,p,figcaption,h5, h3{color: #EDEEEF;}
        
       